.register-body {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #f6f8ff;
}
.register-container {
  width: 30%; /* Can be in percentage also. */
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  height:500px;
  overflow:auto;
  transform: translate(-50%, -50%);
}

.register-email {
  width: 85%;
  font-family: "Nunito", sans-serif;
}
.register-password {
  width: 85%;
  font-family: "Nunito", sans-serif;
}
.register-logo {
  font-size: 34px;
  font-family: "Audiowide", cursive;
  color: #6d58ff;
}
.register-signUp {
  margin-top: 10px;
}
.register-login {
  color: grey;
}
.register-login:hover {
  color: black;
  text-decoration: underline;
}
.register-container::-webkit-scrollbar {
  background-color: white;
  width: 10px;
}
.register-container::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border: 2px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  width: 5px;
}
